@charset "UTF-8";

@font-face {
    font-family: 'screen' ;
    src: url(Calculator.ttf);
}

@font-face {
    font-family: 'title';
    src: url(design.graffiti.mistral.ttf);
}

body{
    background-color: rgb(166, 250, 222);
    padding: 30px;
    display: flex;
}

#title,
#title2{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'title';
    font-size: 110px;
    font-weight:100;
    color: rgb(255, 134, 255);
    text-shadow: 2px 5px 21px magenta,
                 2px 5px 5px magenta
}

#container{
    margin: auto;
    width: 400px;
    height: 500px;
    background-image: linear-gradient(90deg, pink, rgb(255, 123, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 3px;
    border-radius: 15px;
    border: 1px solid lightslategray;
    box-shadow: inset -5px -5px 10px 1px,
                inset 2px 2px 10px 1px
                
}

#screen{
    width: 350px;
    height: 200px;
    margin-top: 20px;
    background-color: rgb(141, 231, 141);
    border-radius: 5px;
    border: 1px solid forestgreen;
    box-sizing: border-box;
    color: rgb(22, 92, 22);
    text-align: right;
    font-family: 'screen', sans-serif;
    font-size: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 2px 2px 5px 1px ;
}

.display{
    height: 50px;
    width: 320px;
    margin: 0;
    padding: 0;
}

.display p{
    margin: 0;
    padding: 0;
}

.display#display{
    font-size: 30px;
}

#erasers{
    width: 400px;
    display: flex;
    margin: 0;
    justify-content: center;
    margin-top: 20px;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.btn{
    width: 82.5px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 4px;
    border-radius: 5px;
    padding: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-shadow: -1px 0px 2px 1px;
}

.btn:hover{
    cursor: pointer;
}

.btn:active{
    box-shadow: inset -2px 0px 5px 2px black;
}

.num{
    background-color: lightcoral;
}

.btn.num:hover{
    background-color: rgb(214, 90, 90);
}

.op,
.dot{
    background-color: rgb(255, 130, 81);
}

.btn.op:hover,
.btn.dot:hover{
    background-color: rgb(219, 124, 86);
}

.erase{
    width: 173px;
    background-color: rgb(255, 0, 128);
}

.btn.erase:hover{
    background-color: rgb(206, 0, 103);
}







